<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>India AI Dashboard | Login</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    
    <!-- <link href="{% static 'css/style_logo.css'%}" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="{%static 'templates/style.css' %}"> -->
     <link rel="stylesheet" href="templates/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
  <style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body, html {
        width: 100%;
        height: 100%;
        font-family: "Segoe UI", sans-serif;
        background:  linear-gradient(rgba(243, 211, 181, 0.945), rgba(255, 123, 0, 0.795));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .gif-side {
    flex: 1.3;
    background: url('resources/css/img/bulb.gif') no-repeat center center;
    background-size: cover;
    }
    </style>
</head>

  <body>

    <div class="logo-bar">
      <a href="landing.html"><img src="css/resources/img/nielitlogo-left - Copy.PNG" alt="Image 1" ></a>
      <img src="css/resources/img/AIDash.png" alt="Image 2" >
      <img src="css/resources/img/digital-india-logo.jpg" alt="Image 3" style="width: 10%;">
      
      <!-- <a href="home.html"><img src="{% static 'img/nielitlogo-left - Copy.PNG'%}" alt="Image 1" style="height: 80%; width:100%;"></a>
      <img src="{% static 'img/dashboard_img.png'%}" alt="Image 2" style="height: 100;">
      <img src="{% static 'img/digital-india-logo.jpg'%}" alt="Image 3" style="width: 10%;height:100" >
      <img src="{% static 'img/meity-new.jpg'%}" alt="Image 3" style="width: 10%;height: 100%;"> -->
    </div>

    <div class="container">
      <div class="gif-side"></div>
      <div class="form-side">
          <h2>Login to Your Account</h2>
          <form action="{% url 'submit_login_form' %}" method="post">
          <input type="text" placeholder="Username" required />
          <input type="password" id="password" name="password" placeholder="Password" required />
          {% csrf_token %}
          <!-- <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div><br> -->
          <button type="submit">Login</button>
          </form>
          <div class="link">
          <a href="#">Forgot Password?</a>
          </div>
          <script>
              function validateCaptcha() {
                  const response = grecaptcha.getResponse();
                  if (response.length === 0) {
                      alert("Please verify you're not a robot.");
                      return false;
                  }
                  return true;
              }
          </script>
      </div>
      </div>


    <!-- <form
      action="{% url 'submit_login_form' %}"
      method="post"
      class="card login-container"
      style="
        margin-top: 10%;
        margin-left: 40%;
        background-color: #fff;
        box-shadow: -1px -1px 3px rgba(73, 85, 87, 0.2),
          12px 12px 20px rgba(30, 136, 185, 0.521),
          inset 2px 2px 0 rgba(12, 118, 180, 0.521);
      "
    >
      <h2>Login</h2>

      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter password"
          required
        />
      </div>
      {% csrf_token %}
      <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div> -->
      <!-- <br />
      <button
        type="submit"
        class="login-btn"
        style="
          background-color: #07599cef;
          height: auto;
          color: #fff;
          margin-top: 1%;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        "
      >
        Login Now
      </button>

      <div class="link">
        <a href="#">Forgot Password?</a>
        </div>
    </form>
    <script>
      function validateCaptcha() {
        const response = grecaptcha.getResponse();
        if (response.length === 0) {
          alert("Please verify you're not a robot.");
          return false;
        }
        return true;
      }
    </script> -->
  </body>
</html>
